<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
</head>
<link
            rel="stylesheet"
            href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"
        />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<body>
    상점 페이지
    <div class="content">
        <ul id="listview" data-role="listview" data-inset="true" data-filter="true">
            <li data-role="list-divider">products</li>
            <% products.forEach(function(item,index){ %>
                <li class="products" data-index="<%= item.index %>">
                    <a href="#">
                        <img src="/image/image.jpeg" alt="">
                        <h3><%= item.name %></h3>
                        <h3><%= item.price %></h3>
                        <span class="ui-li-count"><%= item.count %></span>
                    </a>
                    <a href="#" data-icon="heart" data-index="<%= item.index %>"></a>
                </li>
            <% }) %>
        </ul>
    </div>
    <script>
        //document 얘가 로드가 다 되었을 때 ready
        $(document).ready(function(){
            // 아이콘 변경할 함수
            function changeIcon(target, from, to){
                // alert("check");
                // removeClass() 클래스 지우기 클래스의 이름은 매개변수로 전달
                // addClass() 클래스 추가 클래스의 이름은 매개변수로 전달
                $(target).removeClass(from).addClass(to);
            }
            // 갯수를 변경해주는 함수
            function changeCount(index, count){
                // class="ui-li-count"이 속성을 가진 태그를 선택
                // li[data-index = ' + index + '] 이게 부모 태그 한칸 띄워쓰니까
                // class = "ui-li-count"이 속성을 가진 자식
                // document.querySelectorAll('li[data-index = ' + index + '] .ui-li-count') 이거랑 동일
                // $("li[data-index = " + index + "] .ui-li-count").html(count); 이거랑도 동일
                // 제이쿼리는 안에 선택된 선택자 모든걸 다 담고있는다
                $(".products").eq(index).find(".ui-li-count").html(count);
            }
            
            
            // socket connect
            const socket = io.connect();
            
            // 소켓 이벤트 연결
            // 클라이언트가 알고 있는 이벤트
            socket.on("count", (data)=>{
                changeCount(data.index, data.count);
            })
                // 태그 이벤트 연결
                // console.log($("product >a[data-icon]").eq(0))
                // console.log($("product >a").eq(0))
                $(".products >a[data-icon]").click(function(){
                    // 클릭했을 때 attr(어트리뷰트 속성 이름, 밸류)를 추가
                    let $this = $(this)
                    let index = $this.attr("data-index");
                    if($this.attr("toggle") != "off"){
                        socket.emit('cart',parseInt(index));
                        changeIcon(this, "ui-icon-heart", "ui-icon-check") // 두번째 매개변수를 지우고 세번쩨 체크를 추가
                        $this.attr("toggle","off");
                    }else{
                        if(confirm("물건 구매 하시겠습니까? ")){
                            socket.emit("buy", parseInt(index));
                            // 클릭한 $this요소의 부모태그 선택 () parent() 함수 반환값이 부모 태그
                            // remove() 해당 태그를 지움
                            $this.parent().remove();
                            
                            $(listview).listview("refresh");
                        } else{
                            socket.emit("return", parseInt(index));
                            changeIcon(this, "ui-icon-check", "ui-icon-heart");
                            $this.attr("toggle","on");
                        } 
                    }
                    // 클릭했을 때 attr(어트리뷰트 속성 이름, 밸류)를 추가
                });
            });
            </script>
            </body>
            <script>
                </script>
                </html>