<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list page </title>
</head>
<body>
    <table style="width: 100%">
        <a href="/insert">추가 페이지</a>
        <tr>
            <th>삭제</th>
            <th>수정</th>
            <th>아이디</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>시리즈</th>
        </tr>
        <% data.forEach(function (el, index){ %>
            <tr><form action="/delete" method="post">
                <td><button type="submit">삭제</button></td>
                <td><a href="/revise">수정</a></td>
                <td><%= el.id %></td>
                <input type="hidden" name="id" value="<%= el.id %>">
                <td><%= el.name %></td>
                <input type="hidden" name="name" value="<%= el.name %>">
                <td><%= el.number %></td>
                <input type="hidden" name="number" value="<%= el.number %>">
                <td><%= el.series %></td>
                <input type="hidden" name="series" value="<%= el.series %>">
            </form>
        </tr>
        <% }); %>
    </table>
</body>
</html>